body {
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 99%), url('../img/body/fundo-de-agua.jpg') no-repeat 0 60px / cover;
}

h2 {
    margin-top: 9rem;
    font-size: 3rem;
    text-align: center;
}

main p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 4rem;
}

.subtitulo-integrantes {
    padding: 0 12rem 4rem 12rem;
}

.container-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 11%;
}

.card {
    background: #fff;
    border-radius: 1.2rem;
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-bottom: 2rem;
    position: relative;
    width: 31%;
}

.card:hover {
    background-color: rgb(216, 246, 255);
}

.card-header {
    height: 6.5rem;
    background: linear-gradient(to right, #0077c2, #00aaff);
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
}

.card-avatar {
    width: 8rem;
    height: 8rem;
    background: #ccc;
    border-radius: 50%;
    border: .3rem solid #fff;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
}

.card-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.card h3 {
    margin-top: 6rem;
    font-size: 1.8rem;
}

.subtitulo-card {
    color: #0077c2;
    font-weight: bold;
    margin-bottom: 1rem;
}

.descricao {
    font-size: 1.4rem;
    padding: 0 1.2rem;
}

.icones-card {
    margin: 2rem 0;
}

.icones-card a {
    margin: 0 .5rem;
    display: inline-block;
}

footer {
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 95%);
    margin-top: 10.5rem;
}

@media (max-width: 1000px) {
    .container-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin: 1rem 0;
    }
}